.App {
  font-family: Calibri;
  text-align: center;
}

.list-group li:nth-child(even) {
  background: #f8f9fa !important;
}

.cart-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.cart-modal-box {
  width: 70%;
  height: 654px;
}

.checkout-table {
  height: 522px;
  overflow: auto;
}

.checkout-table thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa !important;
}

.cart-modal-footer {
  width: 100%;
  height: 70px;
  border-top: 1px solid gainsboro;
}

.reset-btn {
  right: 0;
}

a,
NavLink,
kbd {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.opacity-0 {
  opacity: 0 !important;
}
.opacity-1 {
  opacity: 0.2 !important;
}
.opacity-2 {
  opacity: 0.4 !important;
}
.opacity-3 {
  opacity: 0.6 !important;
}
.opacity-4 {
  opacity: 0.8 !important;
}
.opacity-5 {
  opacity: 1 !important;
}

.opacity-2h5 {
  opacity: 0.4 !important;
  transition: opacity 0.25s ease-in-out !important;
  -moz-transition: opacity 0.25s ease-in-out !important;
  -webkit-transition: opacity 0.25s ease-in-out !important;
}
.opacity-2h5:hover {
  opacity: 1 !important;
}
